@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

.NavBar{
  grid-area: navbar;
  display:flex;
  flex-flow:row;
  width:100%;
  color:var(--primary);
  background-color:var(--secondary);
}

.Info{
    box-sizing: border-box;
    flex:1;
    background-color:var(--secondary);
    border: 1px solid var(--primary);
    overflow:hidden;
}

.Info h3{
    float: left;
    position: relative;
    color: var(--primary);
    font-size: 14px;
    font-weight: 600;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    animation: info 25s linear infinite;
        }

  :fullscreen .Info h3 {
    font-size: 16px;
  }

.Menu{
    height:100%;
    padding: 0 5px 0 10px;
    line-height : 30px;
    background-color: black ;
    border: 1px solid var(--primary);
    text-align:center;
}

i{
   padding: 5px;
}

i:hover{
    color:var(--secondary);
}

.Disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.Active {
  color: var(--ternary);
  font-size: 20px;
  box-shadow: "4px 4px 5px -6px rgba(255,34,12,0.79)";
}

@keyframes info {
    0% {
      right: -150%
    }
    100% {
      right: 100%
    }
  }

.Link{
  color: var(--primary)
}
.Link:hover{
  color: var(--secondary)
}